* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html, body {
  background-color: #fafafa;
}

header {
  font-size: 3.5vw;
}

body {
  font-family: Arvo, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}